.ENT{background-color: rgb(0, 225, 255);}
.DIG{background-color: lightblue;}
.SI{background-color: orange;}
.BDD{background-color: purple;}
.ING{background-color: red;}
.PRO{background-color: grey;}
.HOR{background-color: pink;}
.LMM{background-color: green;}
.IPE{background-color: gold;}
.PID{background-color: blue;}
.DIA{background-color: lightgreen;}
.SOS{background-color: violet;}
.for{background-color: rgb(206, 255, 142);}
.ENL{background-color: rgb(253, 192, 192);}
.GRI{background-color: rgb(190, 190, 190);}
.VER{background-color: rgb(120, 204, 109);}